## Advent of Code: Day 2

In [415]:
import pandas as pd

data = pd.read_csv ('two.txt', header=None, sep = ' ' )
data

           0  1
0    forward  4
1       down  9
2    forward  6
3       down  5
4         up  2
..       ... ..
995  forward  6
996  forward  6
997       up  2
998     down  8
999  forward  5

[1000 rows x 2 columns]

In [416]:
data = data.rename(columns={0:'direction', 1:'values'})
data

    direction  values
0     forward       4
1        down       9
2     forward       6
3        down       5
4          up       2
..        ...     ...
995   forward       6
996   forward       6
997        up       2
998      down       8
999   forward       5

[1000 rows x 2 columns]

In [417]:
data['direction'].values

array(['forward', 'down', 'forward', 'down', 'up', 'forward', 'forward',
       'up', 'down', 'up', 'down', 'down', 'down', 'up', 'down', 'up',
       'forward', 'forward', 'down', 'down', 'forward', 'forward',
       'forward', 'up', 'down', 'down', 'down', 'down', 'forward', 'down',
       'forward', 'forward', 'forward', 'up', 'up', 'down', 'down',
       'down', 'forward', 'forward', 'up', 'forward', 'up', 'up', 'up',
       'up', 'down', 'down', 'down', 'up', 'forward', 'down', 'forward',
       'down', 'up', 'up', 'forward', 'forward', 'forward', 'down', 'up',
       'forward', 'forward', 'down', 'forward', 'forward', 'forward',
       'down', 'up', 'down', 'up', 'up', 'up', 'down', 'forward', 'down',
       'up', 'down', 'forward', 'down', 'down', 'forward', 'forward',
       'down', 'down', 'up', 'down', 'forward', 'down', 'forward', 'down',
       'forward', 'up', 'down', 'up', 'down', 'up', 'forward', 'forward',
       'down', 'down', 'up', 'down', 'down', 'forward', 'down', 'forward',
       'down', 'up', 'down', 'forward', 'down', 'up', 'forward', 'up',
       'down', 'forward', 'down', 'down', 'down', 'down', 'forward',
       'down', 'down', 'down', 'forward', 'down', 'forward', 'down',
       'forward', 'up', 'forward', 'up', 'down', 'down', 'down',
       'forward', 'down', 'forward', 'forward', 'down', 'up', 'up',
       'forward', 'down', 'forward', 'down', 'down', 'forward', 'forward',
       'down', 'down', 'up', 'forward', 'up', 'down', 'forward',
       'forward', 'down', 'down', 'down', 'down', 'forward', 'up', 'down',
       'up', 'down', 'up', 'forward', 'down', 'down', 'down', 'forward',
       'down', 'up', 'up', 'down', 'forward', 'forward', 'up', 'forward',
       'forward', 'up', 'up', 'forward', 'down', 'up', 'down', 'down',
       'up', 'down', 'forward', 'down', 'forward', 'down', 'down', 'up',
       'forward', 'forward', 'forward', 'forward', 'down', 'forward',
       'up', 'down', 'forward', 'forward', 'forward', 'up', 'down',
       'forward', 'up', 'forward', 'down', 'forward', 'down', 'down',
       'up', 'down', 'down', 'forward', 'down', 'forward', 'down',
       'forward', 'down', 'down', 'forward', 'forward', 'forward',
       'forward', 'down', 'down', 'forward', 'up', 'down', 'up', 'down',
       'up', 'down', 'down', 'down', 'down', 'up', 'down', 'forward',
       'forward', 'forward', 'down', 'up', 'up', 'forward', 'forward',
       'forward', 'up', 'forward', 'forward', 'down', 'forward',
       'forward', 'forward', 'up', 'up', 'down', 'forward', 'down',
       'down', 'up', 'down', 'up', 'down', 'down', 'forward', 'forward',
       'up', 'up', 'forward', 'up', 'forward', 'down', 'forward',
       'forward', 'forward', 'down', 'forward', 'down', 'forward', 'down',
       'up', 'forward', 'forward', 'forward', 'down', 'up', 'forward',
       'forward', 'forward', 'down', 'forward', 'forward', 'forward',
       'down', 'forward', 'forward', 'up', 'forward', 'up', 'forward',
       'down', 'forward', 'forward', 'down', 'forward', 'down', 'down',
       'down', 'forward', 'down', 'forward', 'forward', 'down', 'up',
       'up', 'forward', 'down', 'down', 'forward', 'forward', 'forward',
       'down', 'forward', 'down', 'down', 'forward', 'forward', 'up',
       'forward', 'forward', 'down', 'down', 'forward', 'up', 'down',
       'up', 'down', 'down', 'forward', 'up', 'down', 'down', 'down',
       'down', 'up', 'forward', 'forward', 'down', 'down', 'up', 'up',
       'down', 'up', 'up', 'forward', 'forward', 'forward', 'down',
       'forward', 'up', 'forward', 'down', 'forward', 'forward', 'down',
       'up', 'down', 'down', 'forward', 'forward', 'up', 'down',
       'forward', 'forward', 'forward', 'forward', 'forward', 'down',
       'forward', 'down', 'forward', 'forward', 'forward', 'down', 'down',
       'down', 'down', 'down', 'up', 'down', 'forward', 'up', 'up',
       'down', 'down', 'forward', 'up', 'down', 'forward', 'down', 'down',
       'forward', 'forward', 'forward', 'down', 'forward', 'down', 'down',
       'down', 'up', 'forward', 'forward', 'forward', 'down', 'forward',
       'up', 'down', 'forward', 'down', 'forward', 'down', 'forward',
       'down', 'down', 'forward', 'down', 'forward', 'up', 'down',
       'forward', 'up', 'down', 'forward', 'forward', 'forward', 'down',
       'up', 'down', 'forward', 'down', 'up', 'forward', 'forward', 'up',
       'down', 'forward', 'forward', 'down', 'down', 'forward', 'up',
       'up', 'up', 'forward', 'forward', 'forward', 'down', 'up', 'down',
       'down', 'down', 'forward', 'forward', 'down', 'down', 'forward',
       'forward', 'forward', 'down', 'down', 'down', 'forward', 'up',
       'forward', 'down', 'forward', 'forward', 'down', 'forward', 'down',
       'down', 'up', 'down', 'up', 'forward', 'down', 'forward', 'down',
       'forward', 'forward', 'up', 'down', 'down', 'forward', 'down',
       'forward', 'down', 'up', 'up', 'down', 'down', 'down', 'up',
       'forward', 'forward', 'down', 'up', 'down', 'forward', 'forward',
       'up', 'up', 'forward', 'up', 'forward', 'up', 'forward', 'forward',
       'forward', 'forward', 'down', 'forward', 'forward', 'forward',
       'down', 'down', 'down', 'forward', 'down', 'down', 'down', 'down',
       'forward', 'forward', 'down', 'down', 'down', 'down', 'down', 'up',
       'forward', 'down', 'forward', 'down', 'forward', 'down', 'forward',
       'down', 'down', 'up', 'up', 'forward', 'up', 'forward', 'down',
       'down', 'down', 'down', 'up', 'forward', 'down', 'down', 'down',
       'down', 'down', 'down', 'up', 'down', 'up', 'forward', 'down',
       'forward', 'up', 'down', 'forward', 'forward', 'forward', 'down',
       'down', 'forward', 'down', 'down', 'forward', 'down', 'down',
       'down', 'down', 'forward', 'up', 'down', 'down', 'forward', 'down',
       'up', 'forward', 'up', 'down', 'forward', 'up', 'up', 'forward',
       'forward', 'down', 'forward', 'forward', 'forward', 'down', 'down',
       'down', 'down', 'up', 'down', 'up', 'up', 'up', 'down', 'down',
       'down', 'forward', 'up', 'down', 'forward', 'up', 'forward',
       'down', 'forward', 'up', 'forward', 'down', 'down', 'up', 'up',
       'down', 'down', 'up', 'forward', 'down', 'up', 'down', 'down',
       'forward', 'down', 'up', 'down', 'forward', 'up', 'up', 'forward',
       'up', 'forward', 'forward', 'down', 'forward', 'down', 'forward',
       'down', 'down', 'forward', 'up', 'down', 'forward', 'down',
       'forward', 'forward', 'forward', 'down', 'forward', 'forward',
       'down', 'forward', 'down', 'down', 'down', 'forward', 'forward',
       'forward', 'up', 'down', 'forward', 'down', 'down', 'down',
       'forward', 'forward', 'forward', 'forward', 'forward', 'forward',
       'down', 'forward', 'forward', 'forward', 'up', 'forward', 'down',
       'up', 'down', 'down', 'down', 'down', 'down', 'down', 'down',
       'forward', 'down', 'up', 'forward', 'forward', 'forward', 'up',
       'up', 'down', 'forward', 'down', 'down', 'down', 'down', 'down',
       'forward', 'forward', 'forward', 'up', 'up', 'down', 'down', 'up',
       'forward', 'forward', 'forward', 'down', 'down', 'down', 'down',
       'down', 'down', 'forward', 'down', 'forward', 'forward', 'up',
       'forward', 'forward', 'forward', 'forward', 'down', 'forward',
       'forward', 'up', 'down', 'forward', 'forward', 'down', 'down',
       'forward', 'down', 'forward', 'forward', 'up', 'forward', 'down',
       'forward', 'forward', 'up', 'down', 'down', 'down', 'up', 'up',
       'up', 'forward', 'forward', 'forward', 'up', 'forward', 'forward',
       'forward', 'down', 'forward', 'down', 'up', 'up', 'forward',
       'forward', 'down', 'down', 'forward', 'up', 'up', 'forward', 'up',
       'forward', 'up', 'forward', 'down', 'forward', 'down', 'forward',
       'forward', 'up', 'down', 'down', 'forward', 'forward', 'up',
       'forward', 'forward', 'down', 'forward', 'down', 'down', 'up',
       'forward', 'forward', 'down', 'up', 'down', 'down', 'up', 'down',
       'forward', 'down', 'up', 'down', 'down', 'up', 'down', 'forward',
       'up', 'down', 'up', 'down', 'up', 'forward', 'up', 'up', 'down',
       'down', 'up', 'up', 'up', 'forward', 'down', 'down', 'forward',
       'up', 'up', 'forward', 'forward', 'up', 'forward', 'down', 'down',
       'down', 'down', 'forward', 'down', 'down', 'forward', 'down', 'up',
       'forward', 'up', 'down', 'down', 'down', 'up', 'forward',
       'forward', 'down', 'forward', 'down', 'down', 'down', 'forward',
       'up', 'forward', 'down', 'down', 'down', 'down', 'forward',
       'forward', 'forward', 'forward', 'up', 'down', 'up', 'forward',
       'up', 'down', 'forward', 'up', 'forward', 'down', 'forward',
       'down', 'up', 'down', 'forward', 'down', 'down', 'forward', 'up',
       'forward', 'up', 'forward', 'forward', 'up', 'down', 'down', 'up',
       'up', 'forward', 'down', 'down', 'down', 'up', 'forward', 'down',
       'down', 'forward', 'down', 'down', 'up', 'forward', 'forward',
       'down', 'down', 'down', 'forward', 'up', 'forward', 'up', 'down',
       'forward', 'forward', 'down', 'up', 'down', 'down', 'up', 'down',
       'forward', 'forward', 'down', 'forward', 'down', 'up', 'up',
       'down', 'up', 'forward', 'up', 'forward', 'up', 'up', 'down',
       'forward', 'up', 'forward', 'down', 'down', 'down', 'forward',
       'down', 'up', 'forward', 'down', 'up', 'up', 'down', 'down',
       'forward', 'forward', 'up', 'down', 'down', 'forward', 'down',
       'forward', 'up', 'forward', 'down', 'up', 'down', 'down', 'down',
       'forward', 'forward', 'up', 'down', 'forward'], dtype=object)

In [418]:
data['values'].values

array([4, 9, 6, 5, 2, 5, 7, 5, 9, 6, 6, 1, 1, 2, 3, 3, 8, 7, 6, 7, 6, 9,
       7, 9, 4, 6, 5, 9, 8, 9, 9, 4, 4, 3, 8, 9, 8, 4, 5, 4, 6, 6, 3, 8,
       3, 4, 3, 5, 5, 1, 9, 4, 6, 6, 2, 9, 1, 2, 7, 6, 6, 1, 7, 7, 9, 4,
       6, 5, 9, 1, 5, 5, 9, 5, 7, 1, 9, 7, 2, 4, 4, 8, 8, 6, 3, 7, 3, 9,
       7, 2, 1, 5, 9, 2, 2, 3, 7, 9, 7, 4, 5, 3, 3, 5, 9, 3, 9, 3, 9, 5,
       4, 4, 8, 7, 1, 2, 4, 7, 9, 4, 4, 6, 7, 2, 1, 1, 2, 1, 7, 5, 3, 6,
       9, 3, 3, 9, 4, 4, 9, 6, 7, 9, 6, 4, 5, 2, 7, 7, 4, 5, 8, 5, 4, 7,
       8, 8, 4, 5, 6, 1, 1, 9, 4, 1, 8, 7, 1, 2, 4, 7, 7, 2, 7, 2, 1, 4,
       6, 5, 2, 1, 2, 9, 9, 7, 9, 8, 5, 6, 6, 8, 1, 6, 5, 2, 9, 9, 4, 4,
       2, 7, 3, 1, 8, 9, 7, 9, 1, 5, 6, 6, 6, 3, 9, 3, 2, 7, 3, 9, 2, 3,
       5, 9, 8, 2, 1, 9, 7, 2, 6, 4, 5, 5, 1, 5, 4, 4, 8, 4, 4, 1, 2, 9,
       2, 4, 1, 2, 1, 9, 5, 4, 1, 8, 6, 9, 9, 4, 4, 1, 6, 7, 3, 5, 7, 1,
       4, 3, 5, 7, 4, 9, 3, 5, 7, 8, 5, 1, 3, 8, 3, 2, 1, 9, 1, 2, 7, 5,
       6, 9, 9, 5, 7, 6, 2, 2, 3, 4, 3, 5, 1, 2, 6, 4, 2, 6, 8, 2, 4, 7,
       2, 1, 7, 6, 4, 3, 2, 2, 4, 8, 6, 6, 2, 3, 1, 1, 5, 2, 4, 7, 3, 3,
       9, 1, 7, 6, 1, 6, 7, 1, 5, 4, 6, 1, 1, 9, 2, 2, 3, 4, 5, 5, 3, 6,
       8, 2, 2, 6, 1, 4, 1, 5, 4, 2, 4, 6, 3, 7, 8, 5, 5, 1, 2, 6, 8, 6,
       1, 7, 4, 2, 1, 6, 3, 1, 5, 9, 9, 4, 2, 1, 1, 7, 5, 9, 8, 1, 6, 1,
       7, 3, 3, 6, 4, 7, 7, 6, 7, 7, 9, 9, 3, 6, 9, 1, 4, 5, 4, 2, 3, 3,
       9, 7, 5, 5, 7, 4, 1, 3, 3, 4, 9, 2, 5, 1, 8, 3, 7, 1, 3, 2, 8, 2,
       4, 4, 4, 5, 6, 3, 5, 4, 5, 1, 6, 1, 3, 2, 9, 7, 4, 5, 3, 6, 1, 4,
       1, 1, 7, 4, 3, 8, 3, 8, 3, 6, 9, 3, 9, 7, 8, 6, 4, 2, 4, 8, 1, 9,
       1, 9, 2, 7, 2, 7, 1, 8, 8, 7, 1, 1, 3, 1, 2, 7, 5, 5, 8, 4, 1, 2,
       8, 8, 1, 5, 3, 3, 5, 2, 4, 2, 7, 9, 9, 7, 1, 4, 3, 5, 9, 9, 6, 2,
       7, 8, 4, 7, 8, 5, 6, 6, 4, 1, 9, 1, 3, 5, 6, 7, 9, 8, 4, 5, 7, 9,
       6, 7, 5, 5, 1, 5, 3, 9, 3, 2, 9, 6, 1, 5, 9, 4, 6, 9, 4, 9, 5, 8,
       5, 4, 5, 8, 8, 5, 9, 2, 2, 6, 2, 4, 6, 6, 1, 8, 5, 5, 2, 7, 5, 6,
       9, 4, 9, 3, 7, 3, 5, 1, 5, 2, 2, 2, 3, 6, 2, 7, 8, 8, 7, 6, 5, 6,
       6, 9, 5, 3, 1, 9, 5, 4, 4, 8, 8, 5, 9, 1, 1, 2, 9, 5, 9, 7, 7, 5,
       1, 2, 8, 7, 4, 9, 4, 8, 5, 1, 9, 6, 8, 6, 7, 6, 5, 2, 7, 7, 5, 1,
       9, 8, 9, 3, 3, 9, 1, 2, 9, 7, 4, 3, 4, 5, 9, 9, 5, 4, 5, 2, 6, 5,
       8, 6, 9, 9, 7, 6, 7, 4, 1, 3, 6, 4, 3, 4, 1, 2, 3, 9, 8, 6, 1, 5,
       1, 4, 7, 5, 9, 2, 9, 2, 2, 5, 2, 3, 5, 8, 1, 9, 2, 4, 9, 6, 5, 8,
       3, 8, 7, 3, 5, 9, 5, 6, 4, 4, 4, 9, 2, 7, 1, 2, 4, 7, 9, 4, 5, 5,
       4, 9, 1, 5, 3, 1, 5, 9, 7, 7, 6, 2, 3, 9, 1, 4, 9, 7, 7, 5, 9, 2,
       3, 3, 7, 5, 7, 9, 7, 3, 3, 8, 9, 8, 9, 4, 2, 7, 6, 3, 9, 8, 2, 9,
       7, 1, 4, 7, 2, 4, 4, 1, 3, 7, 5, 4, 2, 7, 4, 1, 6, 1, 9, 6, 7, 7,
       8, 7, 8, 9, 3, 3, 3, 8, 2, 2, 4, 3, 3, 7, 4, 8, 9, 9, 7, 1, 2, 1,
       3, 9, 6, 2, 6, 8, 1, 6, 1, 6, 4, 2, 6, 6, 1, 7, 9, 1, 4, 5, 6, 9,
       1, 9, 3, 7, 7, 1, 4, 6, 5, 4, 9, 5, 1, 2, 2, 4, 1, 3, 7, 4, 4, 8,
       5, 3, 4, 5, 2, 4, 4, 1, 2, 1, 8, 4, 4, 9, 6, 9, 5, 5, 3, 1, 7, 4,
       7, 9, 8, 5, 1, 5, 8, 3, 6, 3, 7, 6, 9, 1, 3, 9, 4, 6, 5, 6, 3, 4,
       1, 5, 5, 2, 6, 8, 3, 8, 5, 6, 6, 6, 6, 7, 4, 7, 4, 2, 4, 2, 6, 1,
       1, 4, 8, 6, 3, 6, 6, 5, 4, 2, 3, 3, 1, 2, 1, 4, 5, 2, 7, 3, 2, 5,
       1, 3, 2, 5, 1, 5, 4, 7, 8, 3, 7, 7, 9, 1, 6, 4, 7, 1, 4, 9, 1, 3,
       1, 3, 6, 8, 6, 6, 6, 2, 8, 5])

In [419]:
data.groupby('direction')['values'].sum().reset_index(name='horizontal_sum')

  direction  horizontal_sum
0      down            1964
1   forward            1905
2        up            1057

horizontal value is 1905

In [420]:
1964-1057

907

depth is 907

In [421]:
1905*907

1727835

### Part 2

https://stackoverflow.com/questions/16476924/how-to-iterate-over-rows-in-a-dataframe-in-pandas

In [436]:
horizontal, depth, aim = 0,0,0
for index, row in data.iterrows(): 
    if(row[0] == 'forward'): 
        horizontal += int(row[1]) 
        depth += int(row[1]) * aim 
    if(row[0] == 'down'): 
        aim += int(row[1]) 
    if(row[0] == 'up'): 
        aim -= int(row[1])

horizontal * depth

1544000595