# Advent of Code: Day 8

In [67]:
import pandas as pd
import numpy as np
data = pd.read_csv ('eight.txt', header=None, sep = "|")
data

,0,1
0,bgeacd dbfag bcadegf agdce dgfbce bgc bdgca ae...,gcdfbe cbea bc gbc
1,bdeag gdbaec cd dgc abcfg ebcd dgfabe cdfeag c...,becd acfgde bgcaed eadgbc
2,acbfg bcf ebacg fb fcbgea cbdfge cgeabd agcfd ...,fbcdeg cfb ebgca bf
3,bfcde dfgb gecbdf fdc fdcega fd ebdca gfcaedb ...,dbfec gbfd bcdfe dfc
4,dbgeaf bad acdfbe ab agbdf bgcdf fdgae fcgbdea...,ba dab abd gbae
...,...,...
195,dbgace cbdfg ab dfagb abef abgfde gaedf bad ec...,ba cbaedg ba dfbga
196,bgcade acbedgf gbef cef cdbfa ef cbefd afgecd ...,ef ef fce dgecfba
197,gbfced abegc cde acbde fcgaeb cd gebacd agcd g...,gdca gacd dcbae bdegafc
198,gb facdb fedcab fgb gadebf aegfc dgcb cabdgf g...,fegbad adfcb dafgbe fdcba
199,gfbaed fcabde gdbfc bdeafgc dgb agfcdb cgda fc...,becadf facdeb dg agbdcf

In [68]:
data = data[1].str.split(' ', expand= True)
data

    0        1       2       3        4
0       gcdfbe    cbea      bc      gbc
1         becd  acfgde  bgcaed   eadgbc
2       fbcdeg     cfb   ebgca       bf
3        dbfec    gbfd   bcdfe      dfc
4           ba     dab     abd     gbae
..  ..     ...     ...     ...      ...
195         ba  cbaedg      ba    dfbga
196         ef      ef     fce  dgecfba
197       gdca    gacd   dcbae  bdegafc
198     fegbad   adfcb  dafgbe    fdcba
199     becadf  facdeb      dg   agbdcf

[200 rows x 5 columns]

In [69]:
data[4][0]

'gbc'

In [70]:
data['length1'] = data[1].astype(str).str.len()
data['length2'] = data[2].astype(str).str.len()
data['length3'] = data[3].astype(str).str.len()
data['length4'] = data[4].astype(str).str.len()

In [71]:
data

    0        1       2       3        4  length1  length2  length3  length4
0       gcdfbe    cbea      bc      gbc        6        4        2        3
1         becd  acfgde  bgcaed   eadgbc        4        6        6        6
2       fbcdeg     cfb   ebgca       bf        6        3        5        2
3        dbfec    gbfd   bcdfe      dfc        5        4        5        3
4           ba     dab     abd     gbae        2        3        3        4
..  ..     ...     ...     ...      ...      ...      ...      ...      ...
195         ba  cbaedg      ba    dfbga        2        6        2        5
196         ef      ef     fce  dgecfba        2        2        3        7
197       gdca    gacd   dcbae  bdegafc        4        4        5        7
198     fegbad   adfcb  dafgbe    fdcba        6        5        6        5
199     becadf  facdeb      dg   agbdcf        6        6        2        6

[200 rows x 9 columns]

In [72]:
one= data[data['length1'].isin([2,3,4,7,])]

In [73]:
one

    0      1       2       3        4  length1  length2  length3  length4
1       becd  acfgde  bgcaed   eadgbc        4        6        6        6
4         ba     dab     abd     gbae        2        3        3        4
6        dca     dca    abdg    dcbef        3        3        4        5
9        bce      cb   fdgeb       bc        3        2        5        2
10       cde  agcbde  gfaecb      cde        3        6        6        3
..  ..   ...     ...     ...      ...      ...      ...      ...      ...
190     dgfc  gcfade  afbecg   dcfage        4        6        6        6
193     deaf  gfbdea      df    dbaeg        4        6        2        5
195       ba  cbaedg      ba    dfbga        2        6        2        5
196       ef      ef     fce  dgecfba        2        2        3        7
197     gdca    gacd   dcbae  bdegafc        4        4        5        7

[87 rows x 9 columns]

In [74]:
one.shape

(87, 9)

In [75]:
two= data[data['length2'].isin([2,3,4,7,])]

In [76]:
two.shape

(83, 9)

In [77]:
three= data[data['length3'].isin([2,3,4,7,])]

In [78]:
three.shape

(89, 9)

In [79]:
four = data[data['length4'].isin([2,3,4,7,])]

In [80]:
four.shape

(93, 9)

In [83]:
87+83+89+93

352